/****************
HEADER
****************/

#header {
	height: 55px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	top: 0;
	font-family: 'Arvo', 'Georgia', Helvetica, sans-serif;
	color: #fff;
	z-index: 3;
	position: fixed;
}

#header-text h1 {
	text-align: right;
	font-size: 1.4em;
	font-family: 'Arvo', 'Georgia', Helvetica, sans-serif;
	padding-top: 5px;
	padding-left: 10px;
	color: #fff;
	margin-top: -30px;
}

h1 {
	text-align: left;
	margin-left: 100px;
	font-size: 2.0em;
	font-family: 'Arvo', 'Georgia', Helvetica, sans-serif;
	padding-top: 10px;
	padding-left: 10px;
	color: #ecf0f1;
	font-weight: bold;
	z-index: 2;
	position: relative;
}



/***************
BACKGROUND
***************/

body {
	background-image: url('../images/background.jpg');
	background-size: 1000px;
}



/**************
INSTRUCTIONS
**************/

h2 {
	font-size: 1.7em;
	padding: 32px 0 50px 0;	
	font-weight: bold;
	font-family: 'Arvo', 'Georgia' Helvetica, sans-serif;
	color: #000;
}

#instructions-container {
	position: fixed;
	text-align: center;
	margin-top: 85px;
	margin-bottom: 25px;
	z-index: 5;
}

#heading-section {
	padding: 15px;
	margin: 20px 20px 10px 20px;
	background-color: #2980b9;
}

#instructions-header {
	font-family: 'Arvo', 'Georgia' Helvetica, sans-serif;
	color: #000;
	padding: 10px 0 20px 0;
	background-color: #2980b9;
	height: 45px;
	vertical-align: center;
}

#instructions-header h2 {
	padding: 20px 0 25px 0;
	color: white;
	vertical-align: center;
}

#instructions-section {
	font-family: 'Arvo', Helvetica, sans-serif;
	font-size: 0.8em;
	padding: 0px;
	margin: 0;
	background-color: #ecf0f1;
	height: 400px;
	z-index: -2;
}

#instructions {
	margin-left: 20px;
	max-width: 400px;
	padding: 5px 5px 15px 5px;
}

#instructions li {
	text-align: left;
	list-style: inherit;
	font-family: 'Arvo', 'Georgia', Helvetica, sans-serif;
	font-size: 1.2em;
	padding: 15px 15px 15px 5px;
	margin-left: 10px;
	background-color: #ecf0f1;
	z-index: -3;
	list-style-type: decimal;
}

form {
	padding-top: 5px;
	height: 15px;
	}

button {
	width: 80px;
	height: 20px;
}

#cross {
	color: red;
}

#check {
	color: green;
}


/**************
SHOPPING LIST
**************/

#list-container {
	text-align: center;
	margin-top: 95px;
	margin-left: 405px;
	margin-bottom: 50px;
	background-image: url('../images/list.jpg');
	display: block;
	position: relative;
	-webkit-transform: rotate(5deg);
  	-moz-transform: rotate(5deg);
 	-ms-transform: rotate(5deg);
 	-o-transform: rotate(5deg);
  	-webkit-transition: -webkit-transform 1.5s ease-in;
  	-moz-transition: -webkit-transform 1.5s ease-in;
  	-ms-transition: -webkit-transform 1.5s ease-in;
  	-o-transition: -webkit-transform 1.5s ease-in;
}

#list-header {
	font-family: 'Indie Flower', Helvetica, sans-serif;
	font-weight: bold;
	font-size: 2.5em;
	margin-top: 35px;
	text-align: center;
}

#list {
	font-family: 'Indie Flower', Helvetica, sans-serif;
	text-align: left;
	margin-left: 85px;
	margin-top: 24.5px;
	margin-bottom: 6px;
	font-size: 1.8em;
	height: 450px;
	text-indent: 20px;
	display: block;
	height: 480px;
}

.checked {
	text-decoration: line-through;
	display: block;
}

.unchecked {
	text-decoration: none;
	display: block;
}


.crossBtn {
	display: inline-block;
	margin-top: 0.5px;
	padding-left: 15px;
	height: 22px;
	width: auto;
	cursor: pointer;
}

.checkBtn {
	display: inline-block;
	margin-top: 0.5px;
	padding-left: 15px;
	height: 22px;
	width: auto;
	cursor: pointer;
}



/**************
POST IT
**************/

#postit {
	background-image: url('../images/postit.jpg');
	display: block;
	right: 0;
	margin-top: -320px;
	margin-left: 970px;
	height: 250px;
	width: 250px;
	position: relative;

	-webkit-transform: rotate(-5deg);
  	-moz-transform: rotate(-5deg);
 	-ms-transform: rotate(-5deg);
 	-o-transform: rotate(-5deg);
  	-webkit-transition: -webkit-transform 1.5s ease-in;
  	-moz-transition: -webkit-transform 1.5s ease-in;
  	-ms-transition: -webkit-transform 1.5s ease-in;
  	-o-transition: -webkit-transform 1.5s ease-in;
}

.draw {
	height: 250px;
	width: 250px;
}

.scribble {
	font-family: 'Crafty Girls','Indie Flower', sans-serif;
	color: #F50707;
	font-weight: bold;
	text-align: center;
	padding-left: 10px;
	padding-top: 15px;
}